/* body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
   */
/* 
body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
font-family: Arial, sans-serif;
}

h1 {
text-align: center;
}

#canvas-container {
width: 600px;
height: 400px;
} */